<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center><h1>LOGIN PAGE</h1>
    <BR><BR>
        <form>
        NAME:
        <input type="text" name="name">
        <br>
        PASSWORD
        <input type="password" name="pass" id="">
        <br>
        <br>
        <input type="submit" name="sub" id="">
        <br></form>
    </center>

</body>
</html>